@charset "utf-8";

body {
    background: #333;
    cursor: pointer;
}

#gameName {
    color: #fff;
    font-family: Courier New, Courier, monospace;
    font-weight: bold;
    font-size: 24px;
    text-align: center;
}

canvas {
    display: block;
    margin: 0 auto;
}

#player,
#enemy,
#stats {
    display: block;
    margin: -768px auto 0;
}