@charset "utf-8";

body {
    background: #333;
    cursor: pointer;
}

#intro {
    background-image: url(images/black_box.png);
    height: 257px;
    width: 450px;
    color: white;
    margin: 0 auto;
    position: relative;
    top: 231,5px;
}
.instruction {
    display: none;
}
.instruction.active {
    display: block;
}

#gameName {
    color: #fff;
    font-family: Courier New, Courier, monospace;
    font-weight: bold;
    font-size: 24px;
    text-align: center;
}

canvas {
    display: block;
    margin: 0 auto;
}

#player,
#bear,
#trees,
#stats,
#ax /*,
#win,
#gameOver */ {
    display: block;
    position: relative;
    margin: -720px auto 0;
}

#player,
#bear,
#trees {
    z-index: 2;
}

#stats {
    z-index: 4;
}