@charset "utf-8";

body {
    background: #333;
    cursor: pointer;
}

#background {
    background-image: url(images/background_intro.png);
    height: 720px;
    width: 1280px;
    margin: 0 auto;
    position: relative;
}

#intro {
    background-image: url(images/black_box.png);
    height: 257px;
    width: 450px;
    color: white;
    position: absolute;
    margin: auto;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}
.instruction {
    display: none;
}
.instruction.active {
    display: block;
}

#gameName {
    color: #fff;
    font-family: Courier New, Courier, monospace;
    font-weight: bold;
    font-size: 24px;
    text-align: center;
}

canvas {
    display: block;
    margin: 0 auto;
}

#player,
#bear,
#trees,
#stats,
#ax /*,
#win,
#gameOver */ {
    display: block;
    position: relative;
    margin: -720px auto 0;
}

#player,
#bear,
#trees {
    z-index: 2;
}

#stats {
    z-index: 4;
}