@charset "utf-8";

body {
  background-color: #fff;
  font-family: Helvetica, Arial, sans-serif;
  font-size: 100%;
  margin: 1em;
  text-align: center;
}

ul {
  width: 100px;
  margin: 10px auto;
}

li {
  text-align: left;
  padding-left: 20px;
}
