body {
    background-color: #EFF8FF;
    font-family: Arial, Helvetica, sans-serif;
}

#media_platform {
    background-color: #fff;
    margin: 5px auto 25px auto;
    width: 80%;
    text-align: center;
}

#header {
    border: 2px solid #000;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 1.0em;
    margin-bottom: 40px; 
}

h1 {
    margin-top: 35px;
    margin-bottom: 35px;
}

#footer {
    border: 2px solid #000;
    letter-spacing: 0.1em;
    margin-top: 25px;
}

#footer h2 {
    margin-top: 7px;
    margin-bottom: 7px;
}

video {
    width: 80%;
}

.mini_img {
    width: 150px;
    height: 100px;
}