/* Large desktops and laptops */
@media only screen and (min-width: 1200px) {
    body {
        font-size: 110%;
    } 
    
    figure img {
        top: 0.25em;
    }
    
    #figure {
        display: none;
    }
}
    
/* Portrait tablets and medium desktops */
@media only screen and (min-width: 992px) and (max-width: 1199px) {
    figure img {
        top: 0.3125em;
    }

    #figure {
        display: none;
    }

    .footer {
        padding: 3.75em 0.4375em;
    }
}

/* Portrait tablets and small desktops */
@media only screen and (min-width: 768px) and (max-width: 991px) {
    body {
        font-size: 90%;
    } 

    .content-left {
        float: none;
        width: 100%;
        text-align: center;
    }
    
    section .content-left,
    footer .content-left {
        border-top: 0.0625em solid #ececec;
        border-bottom: 0.0625em solid #ececec;
    }

    .content-right {
        margin-left: 0;
    }

    figure {
       display: none;
    }

    header .content-left {
        height: 0vh;    
    }

    header .content-right {
        height: 87vh;    
    }

    .wrap-name {
        top: 30%;
        left: calc(50% - 10.5625em);
        text-align: center;
    }

    #figure {
        position: static;
        transform: none;
        margin: 0 auto;
    }

    #figure img {
        position: relative;
        top: 0.3125em;
        left: 0;
    }

    .name {
        padding: 1.875em 0 0;
    }
    
    .school {
        padding: 0;
    }
    
    .wrap-bottom {
        top: 85%;
    }

    section .content-right {
        padding: 0;
    }

    .wrap-left,
    .wrap-right,
    .footer {
        padding: 1.875em;
    }

    .copyright {
        border-top: 0.0625em solid #ececec;
    }

    section .content-left p {
        padding-top: 0.3125em;
    }

    .color-0 {
        background-color: #fff;
    }

    .color-1 {
        background-color: #fafafa;
    }

    .color-2 {
        background-color: #fff;
    }

    .color-3 {
        background-color: #fafafa;
    }

    .color-4 {
        background-color: #fff;
    }
}

/* Landscape phones and portrait tablets */
@media only screen and (min-width: 665px) and (max-width: 767px) {
    body {
        font-size: 80%;
    } 

    .content-left {
        float: none;
        width: 100%;
        text-align: center;
    }
    
    section .content-left,
    footer .content-left {
        border-top: 0.0625em solid #ececec;
        border-bottom: 0.0625em solid #ececec;
    }

    .content-right {
        margin-left: 0;
    }

    figure {
        display: none;
     }

    header .content-left {
        height: 0;    
    }

    header .content-right {
        height: 87vh;    
    }

    /* проверить во всех .wrap-name центровку! */
    .wrap-name {
        top: 30%;
        left: calc(50% - 9.4275em);
        text-align: center;
    }

    #figure {
        position: static;
        transform: none;
        margin: 0 auto;
    }

    #figure img {
        position: relative;
        top: 0.3125em;
        left: 0;
    }

    .name {
        padding: 1.875em 0 0;
    }
    
    .school {
        padding: 0;
    }
    
    .wrap-bottom {
        top: 85%;
    }

    section .content-right {
        padding: 0;
    }

    .wrap-left,
    .wrap-right,
    .footer {
        padding: 1.875em;
    }
    
    .copyright {
        border-top: 0.0625em solid #ececec;
    }

    section .content-left p {
        padding-top: 0.3125em;
    }

    .color-0 {
        background-color: #fff;
    }

    .color-1 {
        background-color: #fafafa;
    }

    .color-2 {
        background-color: #fff;
    }

    .color-3 {
        background-color: #fafafa;
    }

    .color-4 {
        background-color: #fff;
    }
}

@media only screen and (min-width: 480px) and (max-width: 664px) {
    body {
        font-size: 70%;
    } 

    nav {
        height: 6vh;
        line-height: 1.0vh;
        padding-top: 0.3125em;
        width: 80%;
        left: 50%;
        transform: translateX(-50%);
    }

    nav a {
        display: inline-block;
    }
    
    article {
        padding-top: 7vh;
    }

    .content-left {
        float: none;
        width: 100%;
        text-align: center;
    }
    
    section .content-left,
    footer .content-left {
        border-top: 0.0625em solid #ececec;
        border-bottom: 0.0625em solid #ececec;
    }

    .content-right {
        margin-left: 0;
    }

    figure {
        display: none;
     }

    header .content-left {
        height: 0;    
    }

    header .content-right {
        height: 85vh;    
    }

    .wrap-name {
        top: 30%;
        left: calc(50% - 10em);
        text-align: center;
    }

    #figure {
        position: static;
        transform: none;
        margin: 0 auto;
    }

    #figure img {
        position: relative;
        top: 0.3125em;
        left: 0;
    }

    .name {
        padding: 1.875em 0 0;
    }
    
    .school {
        padding: 0;
    }

    .wrap-bottom {
        top: 80%;
    }

    .header-bottom {
        white-space: normal;
    }

    .bottom {
        display: inline-block;
        text-align: center;
        width: 49.5%;
        padding-top: 0.625em;
    }

    section .content-right {
        padding: 0;
    }

    .wrap-left,
    .wrap-right,
    .footer {
        padding: 1.875em;
    }

    .p-bottom20 {
        padding-bottom: 0.625em;
    }
    
    .footer {
        margin:  0 auto;
        padding: 0.625em;
    }

    .footer-text {
        display: inline-block;
        text-align: center;
        width: 49.5%;
        padding-top: 0.625em;
    }

    .copyright {
        border-top: 0.0625em solid #ececec;
    }

    section .content-left p {
        padding-top: 0.3125em;
    }

    .skills {
        width: 100%;
        margin: 1.875em 0;
        display: block;
    }

    .color-0 {
        background-color: #fff;
    }

    .color-1 {
        background-color: #fafafa;
    }

    .color-2 {
        background-color: #fff;
    }

    .color-3 {
        background-color: #fafafa;
    }

    .color-4 {
        background-color: #fff;
    }
}

/* Landscape phones and smaller */
@media only screen and (min-width: 370px) and (max-width: 479px) {
    body {
        font-size: 65%;
    } 

    nav {
        display: none;
    }
    
    article {
        padding-top: 0;
    }

    .content-left {
        float: none;
        width: 100%;
        text-align: center;
    }

    section .content-left,
    footer .content-left {
        border-top: 0.0625em solid #ececec;
        border-bottom: 0.0625em solid #ececec;
    }

    .content-right {
        margin-left: 0;
    }

    figure {
        display: none;
    }

    .wrap-icons {
        margin-top: 1vh;
    }

    .flag {
        float: right;
    }

    .icon {
        display: none;
    }

    header .content-left {
        height: 0;    
    }

    header .content-right {
        height: 91vh;    
    }

    .wrap-name {
        top: 30%;
        left: calc(50% - 10em);
        text-align: center;
    }

    #figure {
        position: static;
        transform: none;
        margin: 0 auto;
    }

    #figure img {
        position: relative;
        top: 0.3125em;
        left: 0;
    }

    .name {
        padding: 1.875em 0 0;
    }
    
    .school {
        padding: 0;
    }
    
    .wrap-bottom {
        top: 80%;
    }

    .header-bottom {
        white-space: normal;
    }

    .bottom {
        display: inline-block;
        text-align: center;
        width: 49.4%;
        padding-top: 0.625em;
    }

    section .content-right {
        padding: 0;
    }

    .wrap-left,
    .wrap-right,
    .footer {
        padding: 1.875em;
    }

    .p-bottom20 {
        padding-bottom: 0.625em;
    }
    
    .footer {
        margin:  0 auto;
        padding: 0.625em;
    }

    .footer-text {
        display: inline-block;
        text-align: center;
        width: 49.5%;
        padding-top: 0.625em;
    }

    .copyright {
        border-top: 0.0625em solid #ececec;
    }

    section .content-left p {
        padding-top: 0.3125em;
    }

    .skills {
        width: 100%;
        margin: 1.875em 0;
        display: block;
    }

    .back-top {
        display: none;
    }

    .color-0 {
        background-color: #fff;
    }

    .color-1 {
        background-color: #fafafa;
    }

    .color-2 {
        background-color: #fff;
    }

    .color-3 {
        background-color: #fafafa;
    }

    .color-4 {
        background-color: #fff;
    }
}

@media only screen and (max-width: 369px) {
    body {
        font-size: 60%;
    } 

    nav {
        display: none;
    }
    
    article {
        padding-top: 0;
    }

    .content-left {
        float: none;
        width: 100%;
        text-align: center;
    }
    
    section .content-left,
    footer .content-left {
        border-top: 0.0625em solid #ececec;
        border-bottom: 0.0625em solid #ececec;
    }

    .content-right {
        margin-left: 0;
    }

    figure {
        display: none;
    }

    .wrap-icons {
        margin-top: 1vh;
    }

    .flag {
        float: right;
    }

    .icon {
        display: none;
    }

    header .content-left {
        height: 0;    
    }

    header .content-right {
        height: 91vh;    
    }

    .wrap-name {
        top: 30%;
        left: calc(50% - 10em);
        text-align: center;
    }

    #figure {
        position: static;
        transform: none;
        margin: 0 auto;
    }

    #figure img {
        position: relative;
        top: 0.3125em;
        left: 0;
    }

    .name {
        padding: 1.875em 0 0;
    }
    
    .school {
        padding: 0;
    }

    .wrap-bottom {
        top: 72%;
    }

    .header-bottom {
        white-space: normal;
    }

    .bottom {
        display: inline-block;
        text-align: center;
        width: 100%;
        padding-top: 0.625em;
    }

    section .content-right {
        padding: 0;
    }

    .wrap-left,
    .wrap-right,
    .footer {
        padding: 1.875em;
    }

    .p-bottom20 {
        padding-bottom: 0.625em;
    }

    .footer {
        margin:  0 auto;
        padding: 0.625em;
    }

    .footer-text {
        display: inline-block;
        text-align: center;
        width: 100%;
        padding-top: 0.625em;
    }

    .copyright {
        border-top: 0.0625em solid #ececec;
    }

    section .content-left p {
        padding-top: 0.3125em;
    }

    .skills {
        width: 100%;
        margin: 1.875em 0;
        display: block;
    }

    .download {
        width: 100%;
    }

    .back-top {
        display: none;
    }

    .color-0 {
        background-color: #fff;
    }

    .color-1 {
        background-color: #fafafa;
    }

    .color-2 {
        background-color: #fff;
    }

    .color-3 {
        background-color: #fafafa;
    }

    .color-4 {
        background-color: #fff;
    }
}