.box {
    width: 30.5%;
    background-color: lightblue;
    height: 900px;
    float: left;
    margin: 0 0.2em;
    padding: 10px 1%;
    position: relative;
}
 
#wrap {
    width: 95%;
    margin: 0 auto;
    overflow: auto;
}
 
h1 {
    color: red;
}
 
.box img {
    width: 60%;
    float: right;
}
 
#box2 {
    width: 50%;
    float: left;
    background-color: lightcyan;
    margin-top: 20px;
}
 
.box, #box2 {
    border: 3px black solid;
}
 
#box2 img {
    width: 200px;
    height: 150px;
    display: block;
    margin: 0 auto;
}
 
.dbox {
    height: 100px;
}
 
.a {
    background-color: green;
    display: block;
}
 
.b {
    background-color: yellow;
    display: inline;
}
 
.c {
    background-color: violet;
    display: inline-block;
}
 
#subbox1, #subbox2, #subbox3 {
    width: 100px;
    height: 100px;
    background-color: red;
}
 
#subbox1 {
    position: relative;
    top: 100px;
    left: 10%;
}
 
#subbox2 {
    position: fixed;
    top: 200px;
    left: 20%;
}
 
#subbox3 {
    position: absolute;
    top: 300px;
    left: 30%;
}