@charset "utf-8";

body {
    background-color: #E8E9EA;
    font-size: 100%;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0 auto;
}

#outer {
    width: 90%;
    background-color: #fff;
    padding-top: 10px;
    margin: 0 auto;
}

#inner {
    background-color: black;
    margin: 0 auto;
    width: 80%;
}

#top {
    background-color: #8DD6FF;
    text-align: center;
    margin: 0;
    height: 120px;
}

#menu {
    width: 120px;
    float: left;
}

#content {
    padding: 10px;
    background-color: #A9A9A9;
    margin-left: 120px;
}

#bottom {
    background-color: #8DD6FF;
    text-align: center;
    margin: 0 auto;   
    height: 50px;
}

.content-box {
    background-color: #F4F7DB;
    width: 80%;
    border-radius: 20px;
    margin: 10px auto;
    padding: 5px;
}

h1, h2, h3 {
    color: white;
    text-align: center;
    margin: 0;
}

h1 {
    letter-spacing: 7px;
    padding: 40px;
}

h2 {
    margin-top: 10px;
}

h3 {
    padding: 15px;
}

ul {
    list-style-type: none;
    text-align: center;
    margin: 5px;
    padding: 0;
}

li {
    padding: 5px;
}

a {
    color: white;
}


@media only screen and (max-width: 1000px) {
    #menu {
        float: none;
        width: 100%; /* width: auto; - toimii samalla tavalla*/ 
    }
    #menu li {
        display: inline;
    }
    #content {
        margin-left: 0;
    }
}