@charset "utf-8";

@font-face {
    font-family: Quicksand-Light;
    src: url(quicksand/Quicksand-Light.otf);
}

body {
    background-color: #fff;
    font-family: Arial, Helvetica, sans-serif;
}

nav {
    width: 100%;
    background-color: rgba(255, 255, 255, 0.5);
    text-align: center;
    padding-top: 10px;
    position: fixed;
    top: 0;
    z-index: 1;
}

nav a {
    text-decoration: none;
    text-transform: uppercase;
    color: #727272;
    margin: 5px;    
}

.content-left {
    float: left;
    width: 32%;
    font-size: 24px;
    text-transform: uppercase;
    font-weight: bold;
    text-align: right;
    color: #727272;
    margin: 0;
}
.content-right {
    margin-left: 32%;
    text-align: justify;
}

.flag {
    display: inline-block;
    padding-top: 5px;
    padding-left: 5px;
}

.flag-icons {
  /*  color: #939393 !important; не работает*/
    height: 2em !important;
    width: 2.66667em !important;
    line-height: 2em !important;
}

/*
.flag a:hover {
    color: #FFBC00;
} не работает */

.icon {
    float: right;
    padding-top: 5px;
    padding-right: 5px;
}

.icon a {
    padding: 0 3px;
    color: #939393;
}

article {
    padding-top: 25px;
}

figure {
    background-color: black;
    height: 240px;
    width: 240px;
    overflow: hidden;
    border-radius: 120px;
    margin: 185px auto;
}

img {
    position: relative;
    left: -70px;
    height: 250px;
    margin-top: 30px;
}
/*
header {
   font-family: 'Abel', sans-serif;
} */

header .content-right {
    height: 650px;    
}

.etunimi, .sukunimi {
    text-shadow: 2px 2px 1px #939393;
}

.etunimi {
    letter-spacing: 0.02em;
    font-size: 58px;
    color: #939393;
    line-height: 0.2em; 
    margin: 0 auto;
    padding: 240px 0 0 70px;
}

.sukunimi {
    text-transform: uppercase;
    letter-spacing: 0.01em;
    color: #FFBC00;
    font-size: 64px;
    font-weight: bold;
    margin: 0;
    padding: 0 0 0 70px;
}

.koulu {
    font-size: 18px;
    color: #939393;
    padding-top: 25px;
}

.text-header-bottom {
    border-top: solid 1px #ECECEC;
    margin: 40px 50px auto;
    padding-top: 20px;
}

.block {
    display: inline-block;
    text-align: center;
    width: 24%;
}

.font-72 {
    font-size: 14px;
    font-weight: bold;
    color: #727272;
    padding: 0 0 10px 0;
}

.font-93 {
    font-size: 12px;
    color: #939393;
    padding: 0;
}

.header-link {
    color: #939393;
    text-decoration: none;
}

section {
    width: 100%;
    background-color: blue;
}

p {
    color: #939393;
    font-size: 18px;
    line-height: 1.6em;
    margin: 0 auto;
    padding: 60px;
}

.text-footer {
    margin:  0 auto;
    padding: 60px;
}

.block-footer {
    display: inline-block;
    text-align: center;
    width: 24%;
}

a, a:visited {
    transition: 500ms; /* плавность смены цвета */
}
 
a:hover, a:active {
    color: #FFBC00;
}

figure {
    /* Animaation määrittäminen hover-toimintoa varten */
    transition: 400ms ease;
}
 
figure:hover {
    /* Skaalautuvuuden kerroin, jossa 1.0 on normaali koko */
    transform: scale(1.01);
    box-shadow: 6px 6px 4px #727272;
}

.color-0 {
    background-color: #fbfbfb;
}

.color-1 {
    background-color: #fbfbfb;
}

.color-2 {
    background-color: #fff;
}

.color-3 {
    background-color: #f8f8f8;
}

.color-4 {
    background-color: #fcfcfc;
}

@media only screen and (max-width: 700px) {
    .content-left {
        float: none;
        width: 100%;
        text-align: center;
    }
    
section .content-left {
    border-top: 1px solid #ececec;
    border-bottom: 1px solid #ececec;
}

    .content-right {
        margin-left: 0;
    }

    figure {
        height: 192px; /* 240px-20%*/
        width: 192px; /* 240px-20%*/
        border-radius: 96px; /* 120px-20% */
        margin: 30px auto;
    }

    img {
        position: relative;
        left: -70px;
        height: 200px; /* 250px-20%*/
        margin-top: 30px;
    }

    header .content-right {
        height: 260px;    
    }

    .text-header-top, .text-header-bottom {
        text-align: center;
    }

    .text-header-top {
        padding-top: 25px;
    }

    .text-header-bottom {
        margin: 30px auto;
    }

    .etunimi, .sukunimi, .koulu {
        padding: 0;
    }

    .etunimi {
        font-size: 44.6px; /* 58px-20%*/
    }
    
    .sukunimi {

        font-size: 51.2px; /* 64px-20%*/
    }
    
    .koulu {
        font-size: 14.4px; /* 18px-20%*/
    }

    p {
        padding: 40px;
    }

    .color-0 {
        background-color: #fff;
    }

    .color-1 {
        background-color: #fafafa;
    }

    .color-2 {
        background-color: #fff;
    }

    .color-3 {
        background-color: #fafafa;
    }

    .color-4 {
        background-color: #fff;
    }
}
/*
@media only screen and (max-width: 660px) {
    nav {
        padding-top: 5px;
    }

    article {
        padding-top: 35px;
    }
} */