@charset "utf-8";

body.dark {
    background-color: #2d2e2e;
} 

body.dark nav {
    background-color: #2b2c2c;
}

body.dark #button {
    color: #a4a5a6;
}

body.dark #change_styles {
    background-color: #a4a5a6;
}

body.dark #cube {
    background-color: #2d2e2e;
    left: 15px; 
}

body.dark .etunimi,
body.dark .sukunimi {
    text-shadow: 2px 2px 1px #a4a5a6;
}

body.dark .sukunimi {
    color: #e0a82c;
}

body.dark .header-bottom {
    border-top: solid 1px #ececec;
}

body.dark .header-link {
    color: #a4a5a6;
}

body.dark .circle { 
    background-color: #e0a82c;
}

body.dark .down { 
    border-left: solid 1px #404242;
}

body.dark .scale-70 { 
    background-image: linear-gradient(90deg, #e0a82c 70%, #404242 70%);    
}

body.dark .scale-10 {
    background-image: linear-gradient(90deg, #e0a82c 10%, #404242 10%);    
}

body.dark .scale-5 {
    background-image: linear-gradient(90deg, #e0a82c 5%, #404242 5%);    
}

body.dark .scale-2 {
    background-image: linear-gradient(90deg, #e0a82c 2%, #404242 2%);    
}

body.dark .orange, 
body.dark .little,
body.dark a:hover,
body.dark a:active {
    color: #e0a82c;
}

body.dark p,
body.dark a,
body.dark h2 {
    color: #a4a5a6;
}
 
body.dark .color-0,
body.dark .color-1,
body.dark .color-4 {
    background-color: #2b2c2c;
}

body.dark .color-2 {
    background-color: #2d2e2e;
}

body.dark .color-3 {
    background-color: #292a2a;
}

@media only screen and (min-width: 660px) and (max-width: 1000px) {
    
    body.dark section .content-left,
    body.dark footer .content-left {
        border-top: 1px solid #404242;
        border-bottom: 1px solid #404242;
    }

    body.dark .copyright {
        border-top: 1px solid #404242;
    }

    body.dark .color-0 {
        background-color: #2d2e2e;
    }

    body.dark .color-1 {
        background-color: #282929;
    }

    body.dark .color-2 {
        background-color: #2d2e2e;
    }

    body.dark .color-3 {
        background-color: #282929;
    }

    body.dark .color-4 {
        background-color: #2d2e2e;
    }
}