@charset "utf-8";

@font-face {
    font-family: Quicksand-Light;
    src: url(quicksand/Quicksand-Light.otf);
}

body {
    background-color: #fff;
    font-family: 'Lato', Helvetica, Arial, sans-serif;
}

nav {
    width: 100%;
    background-color: #fff;
   /* background-color: rgba(255, 255, 255, 0.5);*/
    text-align: center;
    padding: 5px 0;
    position: fixed;
    top: 0;
    z-index: 1;
}

nav a {
    text-decoration: none;
    text-transform: uppercase;
    color: #727272;
    margin: 5px;    
}

.content-left {
    float: left;
    width: 32%;
    text-transform: uppercase;
    text-align: right;
    color: #727272;
    margin: 0;
}

.content-right {
    margin-left: 32%;
    text-align: justify;
}

.flag {
    display: inline-block;
    padding-top: 5px;
    padding-left: 5px;
}

/*zoom-instruction for rectangle:
.flag-icons {
    height: 2em !important;
    width: 2.66667em !important;
    line-height: 2em !important;
  }
*/

.flag-icons {
    height: 1.7em !important;
    width: 2.26667em !important;
    line-height: 1.7em !important;
}

.flag a:hover {
    filter: grayscale(0%);
    opacity: 1.0; /* при наведении курсора флаги принимают свои цвета*/
}

.flag a {
    filter: grayscale(100%); /* изменение цвета флагов на серый*/
    transition: 500ms ease; /* скорость изменения цвета флагов */
    opacity: 0.7; /* в данном случае изменяет оттенок greyscale с черно-белого на серый */
}

.icon {
    float: right;
    padding-top: 5px;
    padding-right: 5px;
}

.icon a {
    padding: 0 3px;
    color: #939393;
}

article {
    padding-top: 25px;
}

figure {
    background-color: black;
    height: 240px;
    width: 240px;
    overflow: hidden;
    border-radius: 120px;
    margin: 185px auto;
}

img {
    position: relative;
    left: -70px;
    height: 250px;
    margin-top: 30px;
}

header .content-right {
    height: 650px;    
}

.etunimi, .sukunimi {
    text-shadow: 2px 2px 1px #939393;
}

.etunimi {
    text-transform: lowercase;
    letter-spacing: 0.02em;
    font-size: 58px;
  /*  font-weight: 300; */
    color: #939393;
    line-height: 0.2em; 
    margin: 0 auto;
    padding: 240px 0 0 70px;
}

.sukunimi {
    text-transform: uppercase;
    letter-spacing: 0.01em;
    color: #FFBC00;
    font-size: 64px;
    font-weight: bold; /* !? font-weight: 700; */
    margin: 0;
    padding: 0 0 0 70px;
}

.koulu {
    font-size: 18px;
 /*   font-weight: 300; */
    color: #939393;
    padding-top: 25px;
}

.cv {
    float: right;
    text-transform: uppercase;
    font-size: 14px;
    padding-right: 5px;
}

.cv a {
    text-decoration: none;
    color: #939393;
}

.text-header-bottom {
    border-top: solid 1px #ECECEC;
    margin: 40px 50px auto;
    padding-top: 20px;
}

.block {
    display: inline-block;
    text-align: center;
    width: 24%;
}

.font-72 {
    font-size: 14px;
    font-weight: bold;
    color: #727272;
    padding: 0 0 10px 0;
}

.font-93 {
    font-size: 12px;
    color: #939393;
    padding: 0;
}

.header-link {
    color: #939393;
    text-decoration: none;
}

section {
    width: 100%;
    background-color: blue;
}

.skill {
    width: 49.5%;
    display: inline-block;
}

.last {
    margin-bottom: 60px;
}

.text-skill {
    text-transform: uppercase;
    padding-top: 30px;
    padding-bottom: 0;
}

.text-skill right {  
    padding-right: 0;
    padding-left: 20px;
}

.text-skill left {  
    padding-left: 60px;
}

.first {  
    padding-top: 60px;
}

.scale {    
    height: 5px;
    width: 85%;
    display: inline-block;
}

.s1, .s3, .s5 { 
    margin-left: 60px;
}

.s2, .s4, .s6{ 
    margin-left: 60px;
}

.s1 { 
    background-image: linear-gradient(90deg, #FFBC00 70%, #939393 30%);    
}

.s2 {
    background-image: linear-gradient(-90deg, #939393 90%, #FFBC00 10%);    
}

.s3 {
    background-image: linear-gradient(-90deg, #939393 90%, #FFBC00 10%);    
}

.s4 {
    background-image: linear-gradient(-90deg, #939393 95%, #FFBC00 5%);    
}

.s5 {
    background-image: linear-gradient(-90deg, #939393 90%, #FFBC00 10%);    
}

.s6 { 
    background-image: linear-gradient(-90deg, #939393 98%, #FFBC00 2%);    
}

p {
    color: #939393;
    font-size: 18px;
    line-height: 1.6em;
    margin: 0 auto;
    padding: 60px;
}

h2 {
    color: #727272;
    font-size: 18px;
    font-weight: 400;
    line-height: 1.6em;
    margin: 0 auto;
    padding: 60px;
}

.text-footer {
    margin:  0 auto;
    padding: 60px;
}

.block-footer {
    display: inline-block;
    text-align: center;
    width: 24%;
}

a, a:visited {
    transition: 500ms; /* плавность смены цвета */
}
 
a:hover, a:active {
    color: #FFBC00;
}

figure {
    /* Animaation määrittäminen hover-toimintoa varten */
    transition: 400ms ease;
}
 
figure:hover {
    /* Skaalautuvuuden kerroin, jossa 1.0 on normaali koko */
    transform: scale(1.01);
    box-shadow: 6px 6px 4px #727272;
}

.color-0 {
    background-color: #fbfbfb;
}

.color-1 {
    background-color: #fbfbfb;
}

.color-2 {
    background-color: #fff;
}

.color-3 {
    background-color: #f8f8f8;
}

.color-4 {
    background-color: #fcfcfc;
}

/* прописать минимум */
@media only screen and (max-width: 900px) {
    .content-left {
        float: none;
        width: 100%;
        text-align: center;
    }
    
section .content-left {
    border-top: 1px solid #ececec;
    border-bottom: 1px solid #ececec;
}

    .content-right {
        margin-left: 0;
    }

    figure {
        height: 192px; /* 240px-20%*/
        width: 192px; /* 240px-20%*/
        border-radius: 96px; /* 120px-20% */
        margin: 30px auto;
    }

    img {
        position: relative;
        left: -70px;
        height: 200px; /* 250px-20%*/
        margin-top: 30px;
    }

    header .content-right {
        height: 300px;    
    }

    .text-header-top, .text-header-bottom {
        text-align: center;
    }

    .text-header-top {
        padding-top: 25px;
    }

    .text-header-bottom {
        margin: 70px auto;
    }

    .etunimi, .sukunimi, .koulu {
        padding: 0;
    }

    .etunimi {
        font-size: 44.6px; /* 58px-20%*/
    }
    
    .sukunimi {

        font-size: 51.2px; /* 64px-20%*/
    }
    
    .koulu {
        font-size: 14.4px; /* 18px-20%*/
    }

    .cv {
        padding-top: 35px;
    }

    p {
        padding: 40px;
    }

    .color-0 {
        background-color: #fff;
    }

    .color-1 {
        background-color: #fafafa;
    }

    .color-2 {
        background-color: #fff;
    }

    .color-3 {
        background-color: #fafafa;
    }

    .color-4 {
        background-color: #fff;
    }
}
/*
@media only screen and (max-width: 660px) {
    nav {
        padding-top: 5px;
    }

    article {
        padding-top: 35px;
    }
} 


*/