@charset "utf-8";

@font-face {
    font-family: Quicksand-Light;
    src: url(quicksand/Quicksand-Light.otf);
}

body {
    background-color: #fff;
    font-family: Arial, Helvetica, sans-serif;
}

nav {
    width: 100%;
    background-color: rgba(255, 255, 255, 0.5);
    text-align: center;
    padding-top: 10px;
    position: fixed;
    top: 0;
    z-index: 1;
}

nav a:hover {
    color: #000;
}

nav a {
    text-decoration: none;
    text-transform: uppercase;
    color: #727272;
    margin: 5px;    
}

.content-left {
   /* text-align: right;*/
    float: left;
    font-size: 24px;
    text-transform: uppercase;
    color: #727272;
}
.content-right {
    margin-left: 32%;
    background-color: yellow;
}

article {
    padding-top: 25px;
}

figure {
    background-color: black;
    height: 240px;
    width: 240px;
    overflow: hidden;
    border-radius: 120px;
    margin-top: 200px;
    margin-left: 140px;
}

img {
    position: relative;
    left: -70px;
    height: 250px;
    margin-top: 30px;
}

.flag {
    float: left;
    padding-top: 5px;
    padding-left: 5px;
}

.flag-icons {
  height: 2em !important;
  width: 2.66667em !important;
  line-height: 2em !important;
}

.flag a {
    padding: 0 3px;
}

.icon {
    float: right;
    padding-top: 5px;
    padding-right: 5px;
}

.icon a {
    padding: 0 3px;
}

header {
   /* font-family: 'Abel', sans-serif; */
    text-align: left;
}

header .content-right {
    height: 700px;    
}

header h2 {
    letter-spacing: 0.05em;
    font-size: 58px;
    color: #939393;
    line-height: 0.7em; 
    margin: 0 auto;
    padding: 240px 0 0 70px;
}

h1 {
    text-transform: uppercase;
    color: #FFBC00;
    letter-spacing: 0.1em;
    font-size: 64px;
    margin: 0;
    padding-left: 70px;
}

header p {
    font-size: 24px;
    color: #939393;
    padding: 25px 0 0 70px;
}

section {
    width: 100%;
    background-color: blue;
}

.color-0 {
    background-color: #fbfbfb;
}

.color-1 {
    background-color: #fbfbfb;
}

.color-2 {
    background-color: #fff;
}

.color-3 {
    background-color: #f8f8f8;
}

.color-4 {
    background-color: #fcfcfc;
}

p {
    color: #939393;
    font-size: 18px;
    line-height: 1.6em;
    margin: 0 auto;
    padding: 60px;
}

footer {
    text-align: center;
    margin: 0 auto;
}

footer p {
    padding: 20px;
}

@media only screen and (max-width: 1200px) {
    .content-left {
        float: none;
       /* text-align: center; */
    }
    
    .content-right {
        margin-left: 0;
    }

    .color-0 {
        background-color: #fff;
    }

    .color-1 {
        background-color: #fafafa;
    }

    .color-2 {
        background-color: #fff;
    }

    .color-3 {
        background-color: #fafafa;
    }

    .color-4 {
        background-color: #fff;
    }

    figure {
        text-align: center;
        margin: 0;
    }

    .flag {
        padding-top: 5px;
        padding-left: 5px;
    }

    .icon {
        padding-top: 5px;
        padding-right: 5px;
    }
}
/*
@media only screen and (max-width: 660px) {
    nav {
        padding-top: 5px;
    }

    article {
        padding-top: 35px;
    }
} */