@charset "utf-8";

body {
  background-color: #fff;
  font-family: Helvetica, Arial, sans-serif;
  font-size: 100%;
  margin: 1em;
  text-align: center;
}

ul {
  display: table;
  margin: 10px auto;
}
