@charset "utf-8";

body {
  background-color: #fff;
  font-family: Helvetica, Arial, sans-serif;
  font-size: 100%;
  margin: 0 auto;
}

#form {
  border: 0.15em solid #61939b;
  width: 400px;
  height: 200px;
  padding-left: 1em;
  background-color: #f0f0f0;
  margin: 2em auto;
  padding: 2em;
}

fieldset {
  border: 0.15em solid #61939b;
  border-radius: 0.5em;
}

input {
  width: 320px;
  height: 20px;
  outline: none;
}

ul {
  padding-left: 1em;
}

li {
  list-style-type: none;
}

/* #txtHint {
} */

/* input:invalid:not(:placeholder-shown) {
  border-color: #b22222;
}

input:valid:not(:placeholder-shown) {
  border-color: #008000;
} */

::-webkit-input-placeholder {
  color: #61939b;
  font-size: 1.25em;
}

::-moz-placeholder {
  color: #61939b;
  font-size: 1.25em;
}

:-ms-input-placeholder {
  color: #61939b;
  font-size: 1.25em;
}

:-moz-placeholder {
  color: #61939b;
  font-size: 1.25em;
}
