body {
    margin-top: 50px;
    margin-left: 50px;
}

table {
    border: 1px solid black;
    border-collapse: collapse;
}

.asiakkaat {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #C7EFFC;
    border: 2px solid #047DD7; 
    border-collapse: collapse;
}

.asiakkaat thead tr {
    background-color: lightblue;
    color: #9F9F00; 
} 

.asiakkaat th {
    border: 2px solid #047DD7;
    height: 1.2em;
    padding-bottom: 5px;
    padding-top: 5px;
}

.asiakkaat tbody tr:nth-child(odd) {
    background-color: #EDED7B;
}

.asiakkaat td {
    border: 2px solid #047DD7;
    padding: 3px;
}




